
<div class="searchBar">
  <input type="text" [(ngModel)]="name" placeholder="Search" name="name">
  <button mat-button class="searchButton" (click)="getSearchInput()"><mat-icon>search</mat-icon>Search</button>
  <button mat-button class="filterButton" (click)="clickFilter = !clickFilter">Filter<mat-icon>add</mat-icon></button>
</div>

<div class="filterOptions" *ngIf="clickFilter">
  <mat-form-field class="productCategory" appearance="fill">
    <mat-label>Select Product Category</mat-label>
    <mat-select [(ngModel)]="category" value="category">
      <mat-option *ngFor="let cat of categories" [value]="cat.value">{{cat.viewValue}}</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <input type="text" [(ngModel)]="location" placeholder="Location" name="location">
  </mat-form-field>
  <mat-form-field>
    <input type="number" [(ngModel)]="priceMin" placeholder="min">
    <input type="number" [(ngModel)]="priceMax" placeholder="max">
  </mat-form-field>
  <mat-form-field>
    <mat-checkbox [(ngModel)]="available" [checked]="available">Available</mat-checkbox>
    <mat-checkbox [(ngModel)]="delivery" [checked]="delivery">Delivery Possible</mat-checkbox>
  </mat-form-field>
</div>
<mat-card *ngFor="let product of searchList">
  {{product.productDescription}}
</mat-card>
