
<div  fxLayout="row wrap" fxLayoutGap="2% grid" fxLayoutAlign="space-evenly stretch">
  <div *ngFor="let transaction of transactionList">
    <mat-card class="productItem_Card">


        <mat-card-header>
          <mat-card-title class= "clickable" [routerLink]="['/productDetail', transaction.productId]" routerLinkActive="active">{{transaction.product.productName}}</mat-card-title>   <br>
       </mat-card-header>
                <br><br>
                <div *ngIf="transaction.transactionStatus==1">
                <mat-card-content>
          Status: <br> Please confirm transaction <br><br>
          <mat-flat-button class="add_on" button (click)="sellProduct(transaction)">Sell</mat-flat-button> <br><br>
          <mat-flat-button class="add_on" button (click)="declineProduct(transaction)">Decline</mat-flat-button>
                </mat-card-content>
      </div>






      <div *ngIf="transaction.transactionStatus==2">
          <br>
          <mat-card-content>Status: sold</mat-card-content>

      </div>

      <div *ngIf="transaction.transactionStatus==3">
          <br>
          <mat-card-content>Status: declined</mat-card-content>

      </div>
      <div>
          <br>
          Buyer: <br>
          <button mat-button class="button_fill" [routerLink]="['/user', transaction.buyerId]" routerLinkActive="active" ><mat-icon >account_circle</mat-icon>{{transaction.buyer.userName}}</button>

          <br>
          {{transaction.deliveryFirstName}} {{transaction.deliveryLastName}}<br>
          {{transaction.deliveryStreet}}<br>
          {{transaction.deliveryPin}} {{transaction.deliveryCity}}<br>
          {{transaction.deliveryCountry}}<br>
      </div>


    </mat-card>
  </div>
</div>

