.img {
  object-fit: cover; /* Do not scale the image */
  height: 200px;
  width: auto;
  opacity: 0.7;
}

  
.productItem_Card{
  margin: 50px;
  box-shadow: 2px 2px 30px  #F72871;
  background-color: #082A5D;
 /* border-color: teal;
  border-width: 2px;*/
  border-radius: 30px;
  color: whitesmoke;
  font-family:'Press Start 2P', cursive !important;
  font-size: 7px;
  height: 700px;
  width: 250px;
}