<mat-toolbar role="heading">
  <mat-toolbar-row>

    <div class="nav">
      <a routerLink="/home">
        <img src="assets/cd/loader.gif"  class="logo" alt="gif of diskette" />
      </a>
    </div>
    <span class="spacer"></span>
    <div *ngIf="!isUserLoggedIn">
      <button mat-button class="storMainColor" [routerLink]="['/registration',0]" routerLinkActive="active">Registration</button>
      <button mat-button class="storMainColor" routerLink="/login" routerLinkActive="active">Login<mat-icon>login</mat-icon></button>
    </div>
    <div *ngIf="isUserLoggedIn">
      <button class="storMainColor" mat-button color="storMainColor" [matMenuTriggerFor]="menu"><mat-icon >account_circle</mat-icon>{{isUserName}}</button>
    </div>
    <mat-menu #menu>
      <button mat-menu-item routerLink="/user" routerLinkActive="active">My Profile</button>
      <div *ngIf="isUserAdmin">
        <button mat-menu-item routerLink="/admin" routerLinkActive="active">Admin</button>
      </div>
      <button mat-menu-item routerLink="/login" routerLinkActive="active">Logout</button>
    </mat-menu>
  </mat-toolbar-row>
</mat-toolbar>

