.filterOptions{
  display:flex;
  flex-wrap: wrap;
  justify-content: space-evenly ;
  flex-direction:row;
  color: white;
}
.filterButton{
  border: 1px solid #46FFFD;
  justify-content: end;
}
.productCategory{
  color: black;
}
mat-form-field{
  width: 20%;
}

.hideFilter{
  display: flex;
  justify-content: end;
}
.hideIcon{
  justify-content: end;
  display: flow;
  border-color: #082A5D;

}
.priceFilter{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.selectFilter{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 100px;
}
input:focus {
  /* removing the input focus blue box. Put this on the form if you like. */
  outline: #46FFFD;
}
/*
input[type=text]{
  flex-grow:2;
  border:1px solid #46FFFD;
  border-radius: 4px;
  padding-left: 1%;
  padding-right: 1%;
}*/

/*input[type=number]{
  border:1px solid #46FFFD;
  border-radius: 4px;
  box-sizing: border-box;
}*/
input[type=number]:focus {
  border: 3px solid #46FFFD;
}

::ng-deep .mat-checkbox .mat-checkbox-frame {
  border-color: #46FFFD;
}

::ng-deep .mat-checkbox .mat-checkbox-checked{
  color: #46FFFD;
}
