<!--<div class="hideFilter" *ngIf="!clickFilter">
<button mat-button class="filterButton" (click)="clickFilter = !clickFilter" >Filter<mat-icon>add</mat-icon></button>
</div>-->

<!--<div *ngIf="clickFilter">
  <button mat-icon-button (click)="clickFilter = !clickFilter" class="hideIcon" color="#082A5D"><mat-icon>add</mat-icon></button>-->
  <div class="filterOptions">
    <mat-form-field class="productCategory" appearance="fill">
     <mat-label>Select Product Category</mat-label>
     <mat-select class="selectOption" [(ngModel)]="category" (selectionChange)="navigateTo()" value="category">
       <mat-option *ngFor="let category of categories" [value]="category.value">{{category.viewValue}}</mat-option>
     </mat-select>
   </mat-form-field>
    <mat-form-field>
        <input type="text" matInput [(ngModel)]="location" (ngModelChange)="navigateTo()" placeholder="Location" name="location">
        <button mat-button *ngIf="location !== ''" matSuffix mat-icon-button (click)="clear()">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
     <mat-expansion-panel class="priceFilter">
       <mat-expansion-panel-header role="button">Price</mat-expansion-panel-header>
       <mat-form-field>
       <input matInput type="number" [(ngModel)]="priceMin" placeholder="min Price">
       </mat-form-field>
       <mat-form-field>
       <input matInput [(ngModel)]="priceMax" placeholder="max Price">
       </mat-form-field>
       <button mat-button (click)="navigateTo()">save</button>
       <button mat-button (click)="navigateTo()">delete</button>
       <mat-slider min="priceMax" max="priceMax" step="10" value="priceMin, priceMax"></mat-slider>
     </mat-expansion-panel>
    <mat-list>
      <mat-list-item>
         <mat-checkbox [(ngModel)]="available" (change)="navigateTo()" [checked]="available">Available Products</mat-checkbox>
        </mat-list-item>
      <mat-list-item>
       <mat-checkbox [(ngModel)]="delivery" (change)="navigateTo()" [checked]="delivery">Delivery Possible</mat-checkbox>
      </mat-list-item>
    </mat-list>
    <button class="filterButton" mat-button [routerLink]="['/search']">remove Filter</button>
    <!-- <mat-expansion-panel>
       <mat-autocomplete #auto="matAutocomplete">
         <mat-option *ngFor="let canton of cantons" [value]="location" [(ngModel)]="location">{{canton}}</mat-option>
       </mat-autocomplete>
       </mat-expansion-panel>-->
    </div>

