<div class="container">
<div class="filterBig">
  <div class="filterOptions">
    <mat-form-field>
     <mat-label>Select Product Category</mat-label>
     <mat-select [(ngModel)]="category" (selectionChange)="navigateTo()" value="category">
       <mat-option [value]="">None</mat-option>
       <mat-option *ngFor="let category of categories" [value]="category.value">{{category.viewValue}}</mat-option>
     </mat-select>
   </mat-form-field>
    <mat-form-field>
        <input type="text" matInput [(ngModel)]="location" (keyup)="navigateTo()" placeholder="Location" name="location">
        <button class="hideIcon" mat-button *ngIf="location !== ''" matSuffix mat-icon-button value="" (click)="clearLocation()"><mat-icon>close</mat-icon></button>
    </mat-form-field>
    <mat-form-field>
      <input matInput class="priceInput" [(ngModel)]="priceMin" (keyup)="navigateTo()" placeholder="min Price">
      <button class="hideIcon" mat-button *ngIf="priceMin !== ''" matSuffix mat-icon-button value="" (click)="clearMinPrice()"><mat-icon>close</mat-icon></button>
    </mat-form-field>
    <mat-form-field>
      <input matInput class="priceInput" [(ngModel)]="priceMax" (keyup)="navigateTo()" placeholder="max Price">
      <button class="hideIcon" mat-button *ngIf="priceMax !== ''" matSuffix mat-icon-button value="" (click)="clearMaxPrice()"><mat-icon>close</mat-icon></button>
    </mat-form-field>

    <!-- other layout options for price input -->
  <!--<mat-expansion-panel class="pricePanel">
    <mat-expansion-panel-header role="button">Price</mat-expansion-panel-header>
    <mat-form-field>
    <input matInput [(ngModel)]="priceMin" placeholder="min Price">
    </mat-form-field>
    <mat-form-field>
    <input matInput [(ngModel)]="priceMax" placeholder="max Price">
    </mat-form-field>
    <button class="priceButton" (click)="navigateTo()">save</button>
    <button class="priceButton" (click)="navigateTo()">delete</button>
    <!--<mat-slider min="priceMax" max="priceMax" step="10" value="priceMin, priceMax"></mat-slider>
  </mat-expansion-panel>
    <mat-form-field>
      <mat-select class=productPrice placeholder="Price">
        <input class="priceInput" [(ngModel)]="priceMin" (keyup)="navigateTo()" placeholder="min Price">
        <input class="priceInput" [(ngModel)]="priceMax" (keyup)="navigateTo()" placeholder="max Price">
        <mat-option class="priceContainer">
        <button class="priceButton" (click)="navigateTo()">save</button>
          <button class="priceButton" mat-button (click)="navigateTo()">delete</button>
        </mat-option>
      </mat-select>
    </mat-form-field>-->

    <div class="buttonContainer">
      <button class="filterButton" mat-button (click)="clearAll()">clear filter<!--<mat-icon>clear</mat-icon>--></button>
      <button class="filterButton" mat-button (click)="clickFilter = !clickFilter">more filter<!--<mat-icon>add</mat-icon>--></button>
    </div>
  </div>
  <div class="moreFilter" *ngIf="clickFilter">

    <!-- alternative option -->
    <!--<mat-radio-group [(ngModel)]="delivery">
      <a>Delivery:</a>
      <mat-radio-button value="" (change)="navigateTo()">doesn't matter</mat-radio-button>
      <mat-radio-button value="true" (change)="navigateTo()">possible</mat-radio-button>
      <mat-radio-button value="false" (change)="navigateTo()">not possible</mat-radio-button>
    </mat-radio-group>-->

    <mat-checkbox class="filterCheck" [(ngModel)]="delivery" (change)="navigateTo()" [checked]="delivery" color="#46FFFD">Delivery possible</mat-checkbox>
  </div>
</div>


<div class="filterSmall">
<mat-expansion-panel>
  <mat-expansion-panel-header>Filter</mat-expansion-panel-header>
  <mat-divider></mat-divider>
  <mat-form-field>
    <mat-label>Select Product Category</mat-label>
    <mat-select [(ngModel)]="category" (selectionChange)="navigateTo()" value="category">
      <mat-option class="selectPanel" [value]="">None</mat-option>
      <mat-option class="selectPanel" *ngFor="let category of categories" [value]="category.value">{{category.viewValue}}</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <input type="text" matInput [(ngModel)]="location" (ngModelChange)="navigateTo()" placeholder="Location" name="location">
    <button class="clearIcon" mat-button *ngIf="location !== ''" matSuffix mat-icon-button (click)="clear()">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
  <mat-form-field>
      <input matInput [(ngModel)]="priceMin" (keyup)="navigateTo()" placeholder="min Price">
  </mat-form-field>
  <mat-form-field>
      <input matInput [(ngModel)]="priceMax" (keyup)="navigateTo()" placeholder="max Price">
  </mat-form-field>
  <mat-list>
    <mat-list-item>
      <mat-checkbox [(ngModel)]="delivery" (change)="navigateTo()" [checked]="delivery" color="#46FFFD">Delivery Possible</mat-checkbox>
    </mat-list-item>
  </mat-list>
  <div align="right">
  <button class="filterButton" mat-button (click)="clearAll()">clear filter<!--<mat-icon>clear</mat-icon>--></button>
  </div>
</mat-expansion-panel>
</div>
</div>



<!--Near you-->
<div>
  <mat-card>
    <h2>Enter your zipcode and select a radius</h2>

    <mat-form-field>
      <input matInput placeholder="Zipcode" [(ngModel)]="addressPin" name="addressPin" >


    </mat-form-field>
      <button mat-button (click)="getPinsInRadius(addressPin)"><mat-icon>search</mat-icon>Go!</button>


    <p>{{value}} km near you</p>

    <mat-slider
      thumbLabel
      [displayWith]="formatLabel"
      tickInterval="1000"
      min="1"
      max="100"
      [(ngModel)]="value">
    </mat-slider>
    <p>{{pinList}}</p>


  </mat-card>
</div>
