::ng-deep .mat-focused .mat-form-field-label {
  /*change color of label*/
  color: #B82D70 !important;
}

::ng-deep.mat-form-field-underline {
  /*change color of underline*/
  background-color: #D3D9EF !important;
}

::ng-deep.mat-form-field-ripple {
  /*change color of underline when focused*/
  background-color: #D3D9EF !important;;
}
