::ng-deep .mat-focused .mat-form-field-label {
  /*change color of label*/
  color: black;
}

::ng-deep.mat-form-field-underline {
  /*change color of underline*/
  background-color: #D3D9EF !important;
}

::ng-deep.mat-form-field-ripple {
  /*change color of underline when focused*/
  background-color: #D3D9EF !important;
}
::ng-deep .mat-select .mat-select-arrow {
  /* change color of arrow */
  color: #46FFFD;
}
::ng-deep .mat-select .mat-focused {
  /* change color of arrow */
  color: #46FFFD;
}

::ng-deep .mat-checkbox .mat-checkbox-frame {
  /* change color of check mark border */
  border-color: #46FFFD;
}

::ng-deep .mat-checkbox .mat-checkbox-checked {
  /*change color of check mark*/
  color: #46FFFD;
}

::ng-deep .mat-tab-list .mat-tab-label-active {
  color: #F72871;
  background-color: #46FFFD;
  box-shadow:0px 0px 10px #46FFFD;
  font-family:'Press Start 2P', cursive !important;
  opacity: 1;

}

::ng-deep .mat-typography .mat-tab-group{
  font-family:'Press Start 2P', cursive;
}

::ng-deep  .mat-tab-group.mat-primary .mat-ink-bar, .mat-tab-nav-bar.mat-primary .mat-ink-bar{
  background-color: #F7CC18;

  }

::ng-deep .mat-tab-label{
  color:  #F7CC18;
  background-color: #F72871;
  margin: 10px;
  font-family:'Press Start 2P', cursive !important;
  box-shadow:0px 0px 10px #46FFFD;

}

::ng-deep .mat-flat-button {
  background-color: #46FFFD;
  box-shadow:0px 0px 10px #46FFFD;
  
}

::ng-deep .mat-step-header .mat-step-icon {
  background-color: #881DF7;  color:#EA21F7;
}
::ng-deep .mat-step-header .mat-step-icon-selected {
  background-color: #F78B1E; 
  color:#EA21F7;
}
.app {
    /* the .app div needs to be AT LEAST 100% of the height of the window */
    min-height: 100%;
    /* now that it is 100% the height, we 'pull' the footer up */
    /* margin-bottom must be the same height as the footer height below */
    margin-bottom: -271px;
}

.footer{
    /* set the height of the footer */
    height: 271px;
}

.find-snake{

object-fit: cover; /* Do not scale the image */
  object-position: center; /* Center the image within the element */
 width:40px;
 height:auto;
  opacity: 0.8;
  
}

 div b.code{
  visibility: hidden;
  vertical-align: middle;
}

 div:hover b.code {
  visibility: visible;
  font-size: 8px;
  vertical-align: middle !important;
  color: #F7CC18 ;
}

.secret_code{
  position: absolute;
  bottom: 0;
  right: 0;
}


