<div class = "userRegistration">
<!--registration only-->
<div *ngIf="!edit">

<br>
<mat-horizontal-stepper [linear]="true" #stepper>
  <mat-step label="Account">

    <mat-card>
      <mat-card-title>
        Create an account
      </mat-card-title>

      <br>
      <br>
      <mat-form-field>
        <input matInput placeholder="User name*" [(ngModel)]="userName" name="userName" (change)="evaluate(userName)">
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Email*" [(ngModel)]="userMail" name="userMail">
        <div *ngIf="!empty(userMail)">
          <div *ngIf="!validateEmail(userMail)" class="invalid-feedback">Valid email is required </div>
        </div>
      </mat-form-field>

      <mat-form-field *ngIf="!edit">
        <input matInput placeholder="Password*" [(ngModel)]="password" name="password" type="password">
        <ng-template [ngIf]="!empty(password)">
          <div *ngIf="!passwordContainsMixedLetters(password)" class="invalid-feedback"> Use capital and small letters
          </div>
          <div *ngIf="!passwordHasNumber(password)" class="invalid-feedback"> Use at least one number
          </div>
          <div *ngIf="!passwordContainsSpecialChar(password)" class="invalid-feedback"> Use at least one special character
          </div>
          <div *ngIf="!passwordLength(password)" class="invalid-feedback"> Use at least 7 characters
          </div>
        </ng-template>

      </mat-form-field>

      <mat-form-field *ngIf="!edit">
        <input matInput placeholder="Confirm Password*" [(ngModel)]="confPassword" name="confPassword" type="password">
        <ng-template [ngIf]="!empty(confPassword)">
          <div *ngIf="!confirmPassword(confPassword)" class="invalid-feedback"> Passwords do not match
          </div>
        </ng-template>
      </mat-form-field>


      <button mat-button matStepperNext [disabled]="!stepOneComplete()">Next</button>
    </mat-card>




  </mat-step>





  <mat-step label="Address">

    <mat-card>
      <mat-card-title>
        Address
      </mat-card-title>

      <br>
      <br>

      <mat-form-field>
        <input matInput placeholder="First name*" [(ngModel)]="firstName" name="firstName">
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Last name*" [(ngModel)]="lastName" name="lastName">
      </mat-form-field>
      <br>

      <mat-form-field>
        <input matInput placeholder="Country code" [(ngModel)]="addressCountry" name="addressCountry">
        <div *ngIf="!empty(addressCountry)" class="invalid-feedback">
          <div *ngIf="!checkCountryCode(addressCountry)" class="invalid-feedback">e.g. CH</div>
        </div>

      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Street" [(ngModel)]="addressStreet" name="addressStreet">
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Zip code" [(ngModel)]="addressPin" name="addressPin" (ngModelChange)="requestCity()">
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="City" [(ngModel)]="addressCity" name="addressCity">
      </mat-form-field>
      <button mat-button matStepperNext [disabled]="!stepTwoComplete()">Next</button>
    </mat-card>




  </mat-step>


  <mat-step label="Optional information">

    <mat-card>
      <mat-card-title>
        Optional
      </mat-card-title>

      <br>
      <br>
      <mat-form-field appearance="fill">
        <mat-label>Select Gender</mat-label>
        <mat-select style="font-family:'Press Start 2P', cursive !important; font-size: x-small;" matNativeControl [(ngModel)]="gender" value="gender">
          <mat-option style="font-family:'Press Start 2P', cursive !important; font-size: x-small;" value="Agender">Agender</mat-option>
          <mat-option style="font-family:'Press Start 2P', cursive !important; font-size: x-small;" value="Androgyne">Androgyne</mat-option>
          <mat-option style="font-family:'Press Start 2P', cursive !important; font-size: x-small;" value="Androgynous">Androgynous</mat-option>
          <mat-option style="font-family:'Press Start 2P', cursive !important; font-size: x-small;" value="Bigender">Bigender</mat-option>
          <mat-option style="font-family:'Press Start 2P', cursive !important; font-size: x-small;" value="Cis">Cis</mat-option>
          <mat-option style="font-family:'Press Start 2P', cursive !important; font-size: x-small;" value="Cisgender">Cisgender</mat-option>
          <mat-option style="font-family:'Press Start 2P', cursive !important; font-size: x-small;" value="CisFemale">Cis Female</mat-option>
          <mat-option style="font-family:'Press Start 2P', cursive !important; font-size: x-small;" value="CisMale">Cis Male</mat-option>
          <mat-option style="font-family:'Press Start 2P', cursive !important; font-size: x-small;" value="CisMan">Cis Man</mat-option>
          <mat-option style="font-family:'Press Start 2P', cursive !important; font-size: x-small;" value="CisWoman">Cis Woman</mat-option>
          <mat-option style="font-family:'Press Start 2P', cursive !important; font-size: x-small;" value="CisgenderFemale">Cisgender Female</mat-option>
          <mat-option style="font-family:'Press Start 2P', cursive !important; font-size: x-small;" value="CisgenderMale">Cisgender Male</mat-option>
          <mat-option style="font-family:'Press Start 2P', cursive !important; font-size: x-small;" value="CisgenderMan">Cisgender Man</mat-option>
          <mat-option style="font-family:'Press Start 2P', cursive !important; font-size: x-small;" value="CisgenderWoman">Cisgender Woman</mat-option>
          <mat-option style="font-family:'Press Start 2P', cursive !important; font-size: x-small;" value="Female">Female</mat-option>
          <mat-option style="font-family:'Press Start 2P', cursive !important; font-size: x-small;" value="FemaletoMale">Female to Male</mat-option>
          <mat-option style="font-family:'Press Start 2P', cursive !important; font-size: x-small;" value="FTM">FTM</mat-option>
          <mat-option style="font-family:'Press Start 2P', cursive !important; font-size: x-small;" value="GenderFluid">Gender Fluid</mat-option>
          <mat-option style="font-family:'Press Start 2P', cursive !important; font-size: x-small;" value="GenderNonconforming">Gender Nonconforming</mat-option>
          <mat-option style="font-family:'Press Start 2P', cursive !important; font-size: x-small;" value="GenderQuestioning">Gender Questioning</mat-option>
          <mat-option style="font-family:'Press Start 2P', cursive !important; font-size: x-small;" value="GenderVariant">Gender Variant</mat-option>
          <mat-option style="font-family:'Press Start 2P', cursive !important; font-size: x-small;" value="Genderqueer">Genderqueer</mat-option>
          <mat-option style="font-family:'Press Start 2P', cursive !important; font-size: x-small;" value="Male">Male</mat-option>
          <mat-option style="font-family:'Press Start 2P', cursive !important; font-size: x-small;" value="MaletoFemale">Male to Female</mat-option>
          <mat-option style="font-family:'Press Start 2P', cursive !important; font-size: x-small;" value="MTF">MTF</mat-option>
          <mat-option style="font-family:'Press Start 2P', cursive !important; font-size: x-small;" value="Neither">Neither</mat-option>
          <mat-option style="font-family:'Press Start 2P', cursive !important; font-size: x-small;" value="Neutrois">Neutrois</mat-option>
          <mat-option style="font-family:'Press Start 2P', cursive !important; font-size: x-small;" value="Non-binary">Non-binary</mat-option>
          <mat-option style="font-family:'Press Start 2P', cursive !important; font-size: x-small;" value="Other">Other</mat-option>
          <mat-option style="font-family:'Press Start 2P', cursive !important; font-size: x-small;" value="Pangender">Pangender</mat-option>
          <mat-option style="font-family:'Press Start 2P', cursive !important; font-size: x-small;" value="Trans">Trans</mat-option>
          <mat-option style="font-family:'Press Start 2P', cursive !important; font-size: x-small;" value="Trans*">Trans*</mat-option>
          <mat-option style="font-family:'Press Start 2P', cursive !important; font-size: x-small;" value="TransFemale">Trans Female</mat-option>
          <mat-option style="font-family:'Press Start 2P', cursive !important; font-size: x-small;" value="Trans*Female">Trans* Female</mat-option>
          <mat-option style="font-family:'Press Start 2P', cursive !important; font-size: x-small;" value="TransMale">Trans Male</mat-option>
          <mat-option style="font-family:'Press Start 2P', cursive !important; font-size: x-small;" value="Trans*Male">Trans* Male</mat-option>
          <mat-option style="font-family:'Press Start 2P', cursive !important; font-size: x-small;" value="TransMan">Trans Man</mat-option>
          <mat-option style="font-family:'Press Start 2P', cursive !important; font-size: x-small;" value="Trans*Man">Trans* Man</mat-option>
          <mat-option style="font-family:'Press Start 2P', cursive !important; font-size: x-small;" value="TransPerson">Trans Person</mat-option>
          <mat-option style="font-family:'Press Start 2P', cursive !important; font-size: x-small;" value="Trans*Person">Trans* Person</mat-option>
          <mat-option style="font-family:'Press Start 2P', cursive !important; font-size: x-small;" value="TransWoman">Trans Woman</mat-option>
          <mat-option style="font-family:'Press Start 2P', cursive !important; font-size: x-small;" value="Trans*Woman">Trans* Woman</mat-option>
          <mat-option style="font-family:'Press Start 2P', cursive !important; font-size: x-small;" value="Transfeminine">Transfeminine</mat-option>
          <mat-option style="font-family:'Press Start 2P', cursive !important; font-size: x-small;" value="Transgender">Transgender</mat-option>
          <mat-option style="font-family:'Press Start 2P', cursive !important; font-size: x-small;" value="TransgenderFemale">Transgender Female</mat-option>
          <mat-option style="font-family:'Press Start 2P', cursive !important; font-size: x-small;" value="TransgenderMale">Transgender Male</mat-option>
          <mat-option style="font-family:'Press Start 2P', cursive !important; font-size: x-small;" value="TransgenderMan">Transgender Man</mat-option>
          <mat-option style="font-family:'Press Start 2P', cursive !important; font-size: x-small;" value="TransgenderPerson">Transgender Person</mat-option>
          <mat-option style="font-family:'Press Start 2P', cursive !important; font-size: x-small;" value="TransgenderWoman">Transgender Woman</mat-option>
          <mat-option style="font-family:'Press Start 2P', cursive !important; font-size: x-small;" value="Transmasculine">Transmasculine</mat-option>
          <mat-option style="font-family:'Press Start 2P', cursive !important; font-size: x-small;" value="Transsexual">Transsexual</mat-option>
          <mat-option style="font-family:'Press Start 2P', cursive !important; font-size: x-small;" value="TranssexualFemale">Transsexual Female</mat-option>
          <mat-option style="font-family:'Press Start 2P', cursive !important; font-size: x-small;" value="TranssexualMale">Transsexual Male</mat-option>
          <mat-option style="font-family:'Press Start 2P', cursive !important; font-size: x-small;" value="TranssexualMan">Transsexual Man</mat-option>
          <mat-option style="font-family:'Press Start 2P', cursive !important; font-size: x-small;" value="TranssexualPerson">Transsexual Person</mat-option>
          <mat-option style="font-family:'Press Start 2P', cursive !important; font-size: x-small;" value="TranssexualWoman">Transsexual Woman</mat-option>
          <mat-option style="font-family:'Press Start 2P', cursive !important; font-size: x-small;" value="Two-Spirit">Two-Spirit</mat-option>

        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Telephone number" [(ngModel)]="phoneNumber" name="phoneNumber" >
        <div *ngIf="!empty(phoneNumber)" class="invalid-feedback">
          <div *ngIf="!checkNumber(phoneNumber)" class="invalid-feedback">Has to be numbers!</div>
        </div>
      </mat-form-field>

      <button mat-button matStepperNext [disabled]="!checkNumber(phoneNumber) && phoneNumber !== ''">Next</button>

    </mat-card>
  </mat-step>


  <mat-step label="Complete registration">

    <mat-card>
      <mat-card-title>
        Complete registration
      </mat-card-title>

      <br>
      <br>


      <div *ngIf="!edit">

        <button mat-flat-button class="button_standard" (click)="registration()" [disabled]="!allFieldsAreFilled()">Yes</button>

      </div>
      <div *ngIf="edit">
        <button mat-flat-button class="button_standard" [routerLink]="['/user']" routerLinkActive="active" (click)="saveUser()">Save changes</button>
      </div>


    </mat-card>
  </mat-step>

</mat-horizontal-stepper>

<p>*Required fields</p>

</div>







<!--edit user profile only-->

<div *ngIf="edit">
  <button mat-Button class="backIcon" (click)="goBack()" matSuffix mat-icon-button><mat-icon>arrow_back</mat-icon></button>
<mat-card>

  <mat-form-field>
    <input matInput placeholder="User name*" [(ngModel)]="userName" name="userName" (change)="evaluate(userName)">
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Email*" [(ngModel)]="userMail" name="userMail">
    <div *ngIf="!empty(userMail)">
      <div *ngIf="!validateEmail(userMail)" class="invalid-feedback">Valid email is required </div>
    </div>
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="First name*" [(ngModel)]="firstName" name="firstName">
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Last name*" [(ngModel)]="lastName" name="lastName">
  </mat-form-field>
  <br>


  <mat-form-field *ngIf="!edit">
    <input matInput placeholder="Password*" [(ngModel)]="password" name="password" type="password">
    <ng-template [ngIf]="!empty(password)">
      <div *ngIf="!passwordContainsMixedLetters(password)" class="invalid-feedback"> Use capital and small letters
      </div>
      <div *ngIf="!passwordHasNumber(password)" class="invalid-feedback"> Use at least one number
      </div>
      <div *ngIf="!passwordContainsSpecialChar(password)" class="invalid-feedback"> Use at least one special character
      </div>
      <div *ngIf="!passwordLength(password)" class="invalid-feedback"> Use at least 7 characters
      </div>
    </ng-template>

  </mat-form-field>

  <mat-form-field *ngIf="!edit">
    <input matInput placeholder="Confirm password*" [(ngModel)]="confPassword" name="confPassword" type="password">
    <ng-template [ngIf]="!empty(confPassword)">
      <div *ngIf="!confirmPassword(confPassword)" class="invalid-feedback"> Passwords do not match
      </div>
    </ng-template>
  </mat-form-field>



</mat-card>


<hr>

<mat-card>
  <mat-form-field appearance="fill">
    <mat-label>Select Gender</mat-label>
    <mat-select style="font-family:'Press Start 2P', cursive !important; font-size: x-small;" matNativeControl [(ngModel)]="gender" value="gender">
      <mat-option style="font-family:'Press Start 2P', cursive !important; font-size: x-small;" value="Agender">Agender</mat-option>
          <mat-option style="font-family:'Press Start 2P', cursive !important; font-size: x-small;" value="Androgyne">Androgyne</mat-option>
          <mat-option style="font-family:'Press Start 2P', cursive !important; font-size: x-small;" value="Androgynous">Androgynous</mat-option>
          <mat-option style="font-family:'Press Start 2P', cursive !important; font-size: x-small;" value="Bigender">Bigender</mat-option>
          <mat-option style="font-family:'Press Start 2P', cursive !important; font-size: x-small;" value="Cis">Cis</mat-option>
          <mat-option style="font-family:'Press Start 2P', cursive !important; font-size: x-small;" value="Cisgender">Cisgender</mat-option>
          <mat-option style="font-family:'Press Start 2P', cursive !important; font-size: x-small;" value="CisFemale">Cis Female</mat-option>
          <mat-option style="font-family:'Press Start 2P', cursive !important; font-size: x-small;" value="CisMale">Cis Male</mat-option>
          <mat-option style="font-family:'Press Start 2P', cursive !important; font-size: x-small;" value="CisMan">Cis Man</mat-option>
          <mat-option style="font-family:'Press Start 2P', cursive !important; font-size: x-small;" value="CisWoman">Cis Woman</mat-option>
          <mat-option style="font-family:'Press Start 2P', cursive !important; font-size: x-small;" value="CisgenderFemale">Cisgender Female</mat-option>
          <mat-option style="font-family:'Press Start 2P', cursive !important; font-size: x-small;" value="CisgenderMale">Cisgender Male</mat-option>
          <mat-option style="font-family:'Press Start 2P', cursive !important; font-size: x-small;" value="CisgenderMan">Cisgender Man</mat-option>
          <mat-option style="font-family:'Press Start 2P', cursive !important; font-size: x-small;" value="CisgenderWoman">Cisgender Woman</mat-option>
          <mat-option style="font-family:'Press Start 2P', cursive !important; font-size: x-small;" value="Female">Female</mat-option>
          <mat-option style="font-family:'Press Start 2P', cursive !important; font-size: x-small;" value="FemaletoMale">Female to Male</mat-option>
          <mat-option style="font-family:'Press Start 2P', cursive !important; font-size: x-small;" value="FTM">FTM</mat-option>
          <mat-option style="font-family:'Press Start 2P', cursive !important; font-size: x-small;" value="GenderFluid">Gender Fluid</mat-option>
          <mat-option style="font-family:'Press Start 2P', cursive !important; font-size: x-small;" value="GenderNonconforming">Gender Nonconforming</mat-option>
          <mat-option style="font-family:'Press Start 2P', cursive !important; font-size: x-small;" value="GenderQuestioning">Gender Questioning</mat-option>
          <mat-option style="font-family:'Press Start 2P', cursive !important; font-size: x-small;" value="GenderVariant">Gender Variant</mat-option>
          <mat-option style="font-family:'Press Start 2P', cursive !important; font-size: x-small;" value="Genderqueer">Genderqueer</mat-option>
          <mat-option style="font-family:'Press Start 2P', cursive !important; font-size: x-small;" value="Male">Male</mat-option>
          <mat-option style="font-family:'Press Start 2P', cursive !important; font-size: x-small;" value="MaletoFemale">Male to Female</mat-option>
          <mat-option style="font-family:'Press Start 2P', cursive !important; font-size: x-small;" value="MTF">MTF</mat-option>
          <mat-option style="font-family:'Press Start 2P', cursive !important; font-size: x-small;" value="Neither">Neither</mat-option>
          <mat-option style="font-family:'Press Start 2P', cursive !important; font-size: x-small;" value="Neutrois">Neutrois</mat-option>
          <mat-option style="font-family:'Press Start 2P', cursive !important; font-size: x-small;" value="Non-binary">Non-binary</mat-option>
          <mat-option style="font-family:'Press Start 2P', cursive !important; font-size: x-small;" value="Other">Other</mat-option>
          <mat-option style="font-family:'Press Start 2P', cursive !important; font-size: x-small;" value="Pangender">Pangender</mat-option>
          <mat-option style="font-family:'Press Start 2P', cursive !important; font-size: x-small;" value="Trans">Trans</mat-option>
          <mat-option style="font-family:'Press Start 2P', cursive !important; font-size: x-small;" value="Trans*">Trans*</mat-option>
          <mat-option style="font-family:'Press Start 2P', cursive !important; font-size: x-small;" value="TransFemale">Trans Female</mat-option>
          <mat-option style="font-family:'Press Start 2P', cursive !important; font-size: x-small;" value="Trans*Female">Trans* Female</mat-option>
          <mat-option style="font-family:'Press Start 2P', cursive !important; font-size: x-small;" value="TransMale">Trans Male</mat-option>
          <mat-option style="font-family:'Press Start 2P', cursive !important; font-size: x-small;" value="Trans*Male">Trans* Male</mat-option>
          <mat-option style="font-family:'Press Start 2P', cursive !important; font-size: x-small;" value="TransMan">Trans Man</mat-option>
          <mat-option style="font-family:'Press Start 2P', cursive !important; font-size: x-small;" value="Trans*Man">Trans* Man</mat-option>
          <mat-option style="font-family:'Press Start 2P', cursive !important; font-size: x-small;" value="TransPerson">Trans Person</mat-option>
          <mat-option style="font-family:'Press Start 2P', cursive !important; font-size: x-small;" value="Trans*Person">Trans* Person</mat-option>
          <mat-option style="font-family:'Press Start 2P', cursive !important; font-size: x-small;" value="TransWoman">Trans Woman</mat-option>
          <mat-option style="font-family:'Press Start 2P', cursive !important; font-size: x-small;" value="Trans*Woman">Trans* Woman</mat-option>
          <mat-option style="font-family:'Press Start 2P', cursive !important; font-size: x-small;" value="Transfeminine">Transfeminine</mat-option>
          <mat-option style="font-family:'Press Start 2P', cursive !important; font-size: x-small;" value="Transgender">Transgender</mat-option>
          <mat-option style="font-family:'Press Start 2P', cursive !important; font-size: x-small;" value="TransgenderFemale">Transgender Female</mat-option>
          <mat-option style="font-family:'Press Start 2P', cursive !important; font-size: x-small;" value="TransgenderMale">Transgender Male</mat-option>
          <mat-option style="font-family:'Press Start 2P', cursive !important; font-size: x-small;" value="TransgenderMan">Transgender Man</mat-option>
          <mat-option style="font-family:'Press Start 2P', cursive !important; font-size: x-small;" value="TransgenderPerson">Transgender Person</mat-option>
          <mat-option style="font-family:'Press Start 2P', cursive !important; font-size: x-small;" value="TransgenderWoman">Transgender Woman</mat-option>
          <mat-option style="font-family:'Press Start 2P', cursive !important; font-size: x-small;" value="Transmasculine">Transmasculine</mat-option>
          <mat-option style="font-family:'Press Start 2P', cursive !important; font-size: x-small;" value="Transsexual">Transsexual</mat-option>
          <mat-option style="font-family:'Press Start 2P', cursive !important; font-size: x-small;" value="TranssexualFemale">Transsexual Female</mat-option>
          <mat-option style="font-family:'Press Start 2P', cursive !important; font-size: x-small;" value="TranssexualMale">Transsexual Male</mat-option>
          <mat-option style="font-family:'Press Start 2P', cursive !important; font-size: x-small;" value="TranssexualMan">Transsexual Man</mat-option>
          <mat-option style="font-family:'Press Start 2P', cursive !important; font-size: x-small;" value="TranssexualPerson">Transsexual Person</mat-option>
          <mat-option style="font-family:'Press Start 2P', cursive !important; font-size: x-small;" value="TranssexualWoman">Transsexual Woman</mat-option>
          <mat-option style="font-family:'Press Start 2P', cursive !important; font-size: x-small;" value="Two-Spirit">Two-Spirit</mat-option>

    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Telephone number" [(ngModel)]="phoneNumber" name="phoneNumber">
  </mat-form-field>
</mat-card>

<mat-card>
  <mat-form-field>
    <input matInput placeholder="Country code" [(ngModel)]="addressCountry" name="addressCountry">
    <div *ngIf="!empty(addressCountry)" class="invalid-feedback">
      <div *ngIf="!checkCountryCode(addressCountry)" class="invalid-feedback">e.g. CH</div>
    </div>


  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Zip code" [(ngModel)]="addressPin" name="addressPin" (ngModelChange)="requestCity()">
  </mat-form-field>


  <mat-form-field>
    <input matInput placeholder="Street" [(ngModel)]="addressStreet" name="addressStreet">
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="City" [(ngModel)]="addressCity" name="addressCity">
  </mat-form-field>


</mat-card>

<p>*Required fields</p>



  <button mat-flat-button class="button_standard" [routerLink]="['/user']" routerLinkActive="active" (click)="editUser()">Save changes</button>
</div>

</div>
