.invalid-feedback {
   color: #B82D70;
  /* dark red color: #8B0000; */
   }
.valid-feedback{
  color: #3CAF19;
}

.mat-stepper-horizontal {
  margin-top: 8px;
}

.mat-form-field {
  margin-top: 16px;
}

.backIcon{
  margin-top: 1%;
  color: #F0F0F0;
}

.userRegistration{
  background-color: #082A5D!important;
}
::ng-deep .mat-form-field .mat-stepper-horizontal{
  background-color: #082A5D!important;
  color: white;
}

.mat-stepper-horizontal{
  background-color: #082A5D!important;
  color: white;
  font-family: 'Press Start 2P', cursive;

}

::ng-deep .mat-horizontal-stepper-content{
  background-color: #082A5D!important;
  color: white;
  font-family: 'Press Start 2P', cursive;

}
::ng-deep .mat-card{
  background-color: #082A5D!important;
  color: white;
  font-family: 'Press Start 2P', cursive;
}

::ng-deep .mat-typography{
  color: white;
  font-family: 'Press Start 2P', cursive;

}

::ng-deep .mat-step-label .mat-step-label-active .mat-step-label-selected{
  color: white;
  font-family: 'Press Start 2P', cursive;

}