<mat-card>
  <div *ngIf="!isUserLoggedIn">

    <mat-form-field>
      <input matInput placeholder="Username/ Email" [(ngModel)]="userLogin" name="userLogin">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Password" [(ngModel)]="password" name="password" type="password">
    </mat-form-field>
    <button mat-flat-button color="primary" (keydown)="submit()" (click)="login()">Login</button>
    <br>
    {{userAuth}}
    <div *ngIf="userAuth">
      <a routerLink="/registration">
        <button mat-flat-button color="primary">Registration</button>
      </a>
    </div>
  </div>

  <div *ngIf="isUserLoggedIn">
    You are currently logged in!
    <button mat-flat-button color="primary" (click)="logout()">Logout</button>

  </div>

</mat-card>
