<mat-card>
  <div *ngIf="!loggedIn">

    <mat-form-field>
      <input matInput placeholder="Email /Username" [(ngModel)]="userLogin" name="userLogin">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Password" [(ngModel)]="password" name="password" type="password">
    </mat-form-field>
    <button mat-flat-button color="primary" (click)="login()">Login</button>
    <button mat-flat-button color="primary" (click)="refresh()">Refresh</button>
    <br>
    {{userAuth}}
  </div>

  <div *ngIf="loggedIn">
    You are currently logged in as {{ userName }}!
    <button mat-flat-button color="primary" (click)="logout()">Logout</button>
    <button mat-flat-button color="primary" (click)="refresh()">Refresh</button>
  </div>
</mat-card>

<mat-card>
  <button mat-flat-button color="primary" (click)="accessSecuredEndpoint()">Access Secure Endpoint (only for logged in users)</button>
  {{ secureEndpointResponse }}
</mat-card>
