.searchBar {
  /* This bit sets up the horizontal layout */
  display:flex;
  flex-direction:row;
}

input:focus {
  /* removing the input focus blue box. Put this on the form if you like. */
  outline: #46FFFD;
}

input[type=text]{
  flex-grow:2;
  border:1px solid #46FFFD;
  border-radius: 4px;
  padding-left: 1%;
  padding-right: 1%;
}

.searchButton {
  /* Just a little styling to make it pretty */
  border:1px solid #46FFFD;
  background:#46FFFD;
  color:black;
}
