

<div fxLayout="row wrap" fxLayoutGap="32px" fxLayoutAlign="flex-start" >

<mat-card>
  <mat-card-header>
    <mat-card-title>
      {{productName}}
    </mat-card-title>
    <mat-card-title>
      {{productPrice}} CHF
    </mat-card-title>
    <mat-card-subtitle>
      {{uploadDate | date: "dd.MM.yy, HH:mm"}}
    </mat-card-subtitle>

  </mat-card-header>

  <mat-card-content>

    <img mat-card-image class="center-cropped" src="{{productImage}}" alt="{{productName}}" >
    <br>

    <button mat-button class="button_fill" [routerLink]="['/', productCategory]" routerLinkActive="active" ><mat-icon >chevron_right</mat-icon>{{productCategory}}</button>
    <button mat-button class="button_fill" [routerLink]="['/', productLocation]" routerLinkActive="active"><mat-icon >place</mat-icon>{{productLocation}}</button>
    <br>
  </mat-card-content>
</mat-card>



  <mat-card>
    <h2>Sellerinfo:</h2>
    <br><br>
    <button mat-button class="button_fill" [routerLink]="['/user', sellerId]" routerLinkActive="active" ><mat-icon >account_circle</mat-icon>{{sellerName}}</button>

    <br>
    {{addressPin}}<br>
    {{addressCity}}<br>
    {{addressCountry}}<br>

    <button mat-flat-button color="warn"  [routerLink]="['/shipping', productId]" routerLinkActive="active" [disabled]="checkCash()">Buy</button>


  </mat-card>
</div>

<div fxLayout="row wrap" fxLayoutGap="32px" fxLayoutAlign="flex-start"  >
<mat-card>
  <mat-card-content>
    {{productDescription}}
  </mat-card-content>

  <mat-card-content *ngIf="isService">
    <p>
      Service
    </p>
  </mat-card-content>

  <mat-card-content *ngIf="isRentable">
    <p>
      Can be rented
    </p>
  </mat-card-content>

  <mat-card-content *ngIf="productDelivery">
    <p>
      Delivery is possible
    </p>
  </mat-card-content>
  <mat-card-content *ngIf="!productDelivery && !isService">
    <p>
      Product has to be picked up at {{productLocation}}
    </p>
  </mat-card-content>

</mat-card>

<mat-card>

    <h2>Reviews:</h2>

  {{userReview}}
</mat-card>

</div>
