<div class="shaded">
  <mat-list-item *ngFor="let user of userList">
    Name: {{user.userName}}, ID:  {{user.userId}} , is Admin
    <mat-checkbox [(ngModel)]="user.admin" (change)="onUserUpdate(user.userId)" >Admin User</mat-checkbox>
    <button mat-flat-button color="warn" (click)="onUserDelete(user)">Delete User</button>
  </mat-list-item>
</div>

<mat-card >
  <mat-grid-list cols="4" [gutterSize]="'5px'" rowHeight="250px">
    <mat-grid-tile *ngFor="let productItem of productList" style="backgroundColor: white">
      <mat-grid-tile-header style="color: black">
        Posted on {{productItem.uploadDate | date: "dd.MM.yy, HH:mm"}}
      </mat-grid-tile-header>
      {{productItem.productDescription}}
      <mat-grid-tile-footer style="backgroundColor: white; color: black">
        <mat-radio-group [(ngModel)]="productItem.isApproved">
          <mat-radio-button value="true" (click)="approveProduct([productItem.productId])" >Approve</mat-radio-button>
          <mat-radio-button value="false" (click)="deleteProduct([productItem.productId])" >Delete</mat-radio-button>
        </mat-radio-group>
      </mat-grid-tile-footer>
    </mat-grid-tile>
  </mat-grid-list>
</mat-card>
