<div class="admin-view">
  <mat-tab-group>
<mat-tab label="Users">
  <mat-list *ngFor="let user of userList">
    <mat-list-item>
    Name <b class="yellow" [routerLink]="['/user', user.userId]" routerLinkActive="active" > :  {{user.userName}}</b>
      , ID:  {{user.userId}} , is Admin&nbsp;

      <mat-checkbox [(ngModel)]="user.admin" (change)="upgradeUser(user)" [disabled]="user.admin" [checked]="user.admin"></mat-checkbox>

    <div *ngIf="!user.admin"><button mat-flat-button color="warn" (click)="deleteUser(user)">Remove</button>
    </div> </mat-list-item>
  </mat-list>
</mat-tab>

  <mat-tab label="Products To Approve">


<div class="productList_dashboard" fxLayout="row wrap" fxLayoutGap="2% grid" fxLayoutAlign="space-evenly stretch">

  <div  *ngFor="let productItem of productList">
    <app-product-item
[productItem]="productItem" >
</app-product-item>
<mat-card class="add_on">
<mat-radio-group  [(ngModel)]="productItem.isApproved">
  <mat-radio-button value="true" (click)="approveProduct(productItem)" >Approve</mat-radio-button><br>
  <mat-radio-button value="false" (click)="deleteProduct(productItem)" >Delete</mat-radio-button>
</mat-radio-group>
</mat-card>

  </div>
</div>

</mat-tab>
</mat-tab-group>
</div>
