mat-radio-button{
  margin-right: 5px;
}

.navigation{
  background-color: turquoise;
  color:whitesmoke;
  }

.center-cropped {
  object-fit: cover; /* Do not scale the image */
  height: 100%;
  width: auto;
  opacity: 0.7;
}



  
.productItem_Card{
  margin: 100px;
  box-shadow: 2px 2px 30px  #F72871;
  background-color: #082A5D;

  border-radius: 30px;
  color: whitesmoke;
  font-family:'Press Start 2P', cursive !important;
  font-size: 7px;
  height: 700px;
  width: 250px;
}


.add_on{
  margin: 50px;
  margin-top: -150px;
  margin-left: 160px;
  border-top: none;
  box-shadow: 2px 2px 30px  #F72871;
  background-color: #F78B1E;
 /* border-color: teal;
  border-width: 2px;*/
  border-radius: 30px;
  color: whitesmoke;
  font-family:'Press Start 2P', cursive !important;
  font-size: 10px;
  height: 30px;
  width: 120px;
  padding-bottom: 19px;
}
.mat-radio-group .mat-radio-button{
  font-family:'Press Start 2P', cursive !important;
  font-size: 10px;
}

::ng-deep .mat-list-item{
  font-family:'Press Start 2P', cursive !important;
  color:whitesmoke!important;
}
 .mat-flat-button {
  background-color:#F78B1E !important;
  font-size: small;
}
::ng-deep .mat-checkbox-layout{
  font-family:'Press Start 2P', cursive !important;

}

.yellow{
  color:#F7CC18;  
}