
<div class="admin-view">
  <mat-tab-group>
    <mat-tab class = 'navigation' label="List Of Users">
  <mat-list-item *ngFor="let user of userList" class= "caption">
  <app-user
        [user]="user"
        (update)="onUserUpdate($event)"
        (delete)="onUserDelete($event)"
      ></app-user>

  </mat-list-item>
    </mat-tab>
<!--
<div class="shaded">
  <mat-list *ngFor="let user of userList">
    <mat-list-item>
    Name: {{user.userName}}, ID:  {{user.userId}} , is Admin
    <mat-checkbox [(ngModel)]="user.admin" (change)="onUserUpdate()" [checked]="user.admin">Admin User</mat-checkbox>
    <button mat-flat-button color="warn" (click)="onUserDelete()">Delete User</button>
    </mat-list-item>
  </mat-list>
</div>
-->

<mat-tab label="Products To Approve">


  <div  fxLayout="row" fxLayoutGap="2% grid" fxLayoutAlign="space-evenly stretch">
    <div fxFlex="10%" fxFlex.xl="15%" fxFlex.lg="20%" fxFlex.md="25%" fxFlex.sm="33%" fxFlex.xs="50%" *ngFor="let productItem of productList">
      <mat-card class="productItem_Card">
        <mat-card-title>{{productItem.productName}} </mat-card-title>
        <img class = "center-cropped" src="{{productItem.productImage}}" alt="{{productItem.productName}}" >
       <mat-card-content >
       <br>
     {{productItem.productDescription}}
    <br><br>
    Posted on {{productItem.uploadDate | date: "dd.MM.yy, HH:mm"}}
  </mat-card-content> 
  <mat-card-footer>
        <mat-radio-group [(ngModel)]="productItem.isApproved">
          <mat-radio-button value="true" (click)="approveProduct(productItem)" >Approve</mat-radio-button>
          <mat-radio-button value="false" (click)="deleteProduct(productItem)" >Delete</mat-radio-button>
        </mat-radio-group>
      </mat-card-footer>
      </mat-card>
    
      </div>
    </div>


</mat-tab>

<!--

  <mat-grid-list cols="4" [gutterSize]="'5px'" rowHeight="450px">
    <mat-grid-tile *ngFor="let productItem of productList" style="backgroundColor: white">

      <mat-grid-tile-header style="color: black">
        <h2>{{productItem.productName}}</h2>
        <br>
      </mat-grid-tile-header>

      <br>
      <mat-grid-tile-content>

        <img mat-card-image class="center-cropped”" src="{{productItem.productImage}}" alt="{{productItem.productName}}" >

        <br>
        <br>
        {{productItem.productDescription}}
        <br><br>
        Posted on {{productItem.uploadDate | date: "dd.MM.yy, HH:mm"}}
        <br>
      </mat-grid-tile-content>
      <mat-grid-tile-footer style="backgroundColor: white; color: black">
        <mat-radio-group [(ngModel)]="productItem.isApproved">
          <mat-radio-button value="true" (click)="approveProduct(productItem)" >Approve</mat-radio-button>
          <mat-radio-button value="false" (click)="deleteProduct(productItem)" >Delete</mat-radio-button>
        </mat-radio-group>
      </mat-grid-tile-footer>
    </mat-grid-tile>
  </mat-grid-list>
  -->
