<div *ngIf="!isUserLoggedIn">
  <mat-card>
    <mat-form-field>
      <input matInput placeholder="Email*" [(ngModel)]="userMail" name="userMail">
        <div *ngIf="!empty(userMail)">
          <div *ngIf="!emailFormat(userMail)" class="invalid-feedback">Valid Email is required </div>
        </div>
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Password*" [(ngModel)]="password" name="password" type="password">
      <ng-template [ngIf]="!empty(password)">
        <div *ngIf="!passwordContainsMixedLetters(password)" class="invalid-feedback"> Use capital and small letters
        </div>
        <div *ngIf="!passwordHasNumber(password)" class="invalid-feedback"> Use at least one number
        </div>
        <div *ngIf="!passwordContainsSpecialChar(password)" class="invalid-feedback"> Use at least one special character
        </div>
        <div *ngIf="!passwordLength(password)" class="invalid-feedback"> Use at least 7 characters
        </div>
      </ng-template>

    </mat-form-field>

    <!-- fix confirm password visibility-->
  <mat-form-field>
    <input matInput placeholder="Confirm Password*" [(ngModel)]="cpassword" name="cpassword" type="password">
    <ng-template [ngIf]="!empty(cpassword)">
      <div *ngIf="!confirmPassword(cpassword)" class="invalid-feedback"> Passwords do not Match
      </div>
    </ng-template>
  </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="User Name*" [(ngModel)]="userName" name="userName" (change)="evaluate(userName)">
      <!--<div *ngIf="empty(userName)" class="invalid-feedback">User Name is required </div>-->
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="First Name*" [(ngModel)]="firstName" name="firstName">
      <!--<div *ngIf="empty(firstName)" class="invalid-feedback">First Name is required </div>-->
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Last Name*" [(ngModel)]="lastName" name="lastName">
      <!--<div *ngIf="empty(lastName)" class="invalid-feedback">Last Name is required </div>-->
    </mat-form-field>
  </mat-card>

  <hr>

  <mat-card>
    <mat-form-field appearance="fill">
      <mat-label>Select Gender</mat-label>
      <select matNativeControl [(ngModel)]="gender" value="gender">
        <option value="Agender">Agender</option>
        <option value="Agender">Androgyne</option>
        <option value="Agender">Androgynous</option>
        <option value="Agender">Bigender</option>
        <option value="Agender">Cis</option>
        <option value="Agender">Cisgender</option>
        <option value="Agender">Cis Female</option>
        <option value="Agender">Cis Male</option>
        <option value="Agender">Cis Man</option>
        <option value="Agender">Cis Woman</option>
        <option value="Agender">Cisgender Female</option>
        <option value="Agender">Cisgender Male</option>
        <option value="Agender">Cisgender Man</option>
        <option value="Agender">Cisgender Woman</option>
        <option value="Agender">Female</option>
        <option value="Agender">Female to Male</option>
        <option value="Agender">FTM</option>
        <option value="Agender">Gender Fluid</option>
        <option value="Agender">Gender Nonconforming</option>
        <option value="Agender">Gender Questioning</option>
        <option value="Agender">Gender Variant</option>
        <option value="Agender">Genderqueer</option>
        <option value="Agender">Male</option>
        <option value="Agender">Male to Female</option>
        <option value="Agender">MTF</option>
        <option value="Agender">Neither</option>
        <option value="Agender">Neutrois</option>
        <option value="Agender">Non-binary</option>
        <option value="Agender">Other</option>
        <option value="Agender">Pangender</option>
        <option value="Agender">Trans</option>
        <option value="Agender">Trans*</option>
        <option value="Agender">Trans Female</option>
        <option value="Agender">Trans* Female</option>
        <option value="Agender">Trans Male</option>
        <option value="Agender">Trans* Male</option>
        <option value="Agender">Trans Man</option>
        <option value="Agender">Trans* Man</option>
        <option value="Agender">Trans Person</option>
        <option value="Agender">Trans* Person</option>
        <option value="Agender">Trans Woman</option>
        <option value="Agender">Trans* Woman</option>
        <option value="Agender">Transfeminine</option>
        <option value="Agender">Transgender</option>
        <option value="Agender">Transgender Female</option>
        <option value="Agender">Transgender Male</option>
        <option value="Agender">Transgender Man</option>
        <option value="Agender">Transgender Person</option>
        <option value="Agender">Transgender Woman</option>
        <option value="Agender">Transmasculine</option>
        <option value="Agender">Transsexual</option>
        <option value="Agender">Transsexual Female</option>
        <option value="Agender">Transsexual Male</option>
        <option value="Agender">Transsexual Man</option>
        <option value="Agender">Transsexual Person</option>
        <option value="Agender">Transsexual Woman</option>
        <option value="Agender">Two-Spirit</option>

      </select>
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Telephone Number" [(ngModel)]="telephoneNumber" name="telephoneNumber">
    </mat-form-field>
  </mat-card>

  <mat-card>
    <mat-form-field>
      <input matInput placeholder="Street" [(ngModel)]="addressStreet" name="addressStreet">
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Zip code" [(ngModel)]="addressPin" name="addressPin">
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="City" [(ngModel)]="addressCity" name="addressCity">
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Country" [(ngModel)]="addressCountry" name="addressCountry">
    </mat-form-field>
  </mat-card>

  <p>*Required Fields</p>

  <div>
    <ng-template [ngIf]="!registrationComplete()" [ngIfElse]="successMessage">
      <button mat-flat-button class="button_standard" (click)="registration()" [disabled]="!allFieldsAreFilled()">Registration</button>
      <br>
      {{userAuth}}
    </ng-template>

    <ng-template #successMessage>
      <div *ngIf="registrationComplete()" class="valid-feedback">
      </div>
    </ng-template>
  </div>
</div>
