<div class="searchBar">
  <input type="text" [(ngModel)]="name" placeholder="Search" name="name" class="bar">

  <button mat-button class="searchButton" [routerLink]="['/s']" [queryParams]="{n: name}"><mat-icon>search</mat-icon>Search</button>
  <button mat-button class="clearIcon" *ngIf="name !== ''" matSuffix mat-icon-button (click)="name = ''"><mat-icon>clear</mat-icon></button>
</div>

<div class="catContainer" >
  <div class="bigDisplay" *ngFor="let category of categories">
   
      <img class= "categoryIcon" src="{{category.image}}" [routerLink]="['/s']" [queryParams]="{c: category.value}">
      {{category.value}} 
   <!--<button class="categoryButton" [routerLink]="['/s']" [queryParams]="{c: category.value}">
      {{category.value}} 
    </button>-->
  </div>

   

  <div class="smallDisplay">
    <mat-form-field>
      <mat-label>Search Product Category</mat-label>
      <mat-select>
        <mat-option *ngFor="let category of categories" [value]="category.value" [routerLink]="['/s']" [queryParams]="{c: category.value}">{{category.viewValue}}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
</div>
