<div>
  <mat-divider></mat-divider>
  <button (click)="goBack()"><mat-icon>back</mat-icon>go back</button>
    <h2>My Product</h2>

  <mat-card>
    <mat-form-field>

      <input matInput placeholder="Product Name" [(ngModel)]="productName" name="productName">
      <div *ngIf="empty(productName)" class="invalid-feedback">Product Name</div>

    </mat-form-field>

    <br>

    <mat-form-field>

      <input matInput placeholder="Product Image" [(ngModel)]="productImage" name="productImage">
      <div *ngIf="empty(productImage)" class="invalid-feedback">Please add a Photo</div>

    </mat-form-field>
    <br>


    <input
      style="display: none"
      type="file" (change)="onFileChanged($event)"
      #fileInput>
    <button mat-flat-button class="button_standard" (click)="fileInput.click()">Select File (.png, .jpg, .jpeg)</button>
    <button mat-flat-button class="button_standard" (click)="onUpload()">Upload</button>

    <div *ngIf="imageSelected">
        {{imageName}}
    </div>

  </mat-card>

  <mat-card>
    <mat-checkbox [(ngModel)]="isService">Is your Product a Service?</mat-checkbox>

    <mat-checkbox class="checkboxMargin" [(ngModel)]="isRentable">Is your Product rentable?</mat-checkbox>
    <div>
      <br>
    </div>
    <mat-form-field appearance="fill">

      <mat-label>Select Product Category</mat-label>
      <select matNativeControl [(ngModel)]="productCategory" value="productCategory">
        <option value="AntiquesAndArt">Antiques & Art</option>
        <option value="BabyAndChild">Baby & Child</option>
        <option value="Books">Books</option>
        <option value="OfficeAndCommercial">Office & Commercial</option>
        <option value="ComputerAndComputer accessories">Computer & Computer accessories</option>
        <option value="Vehicles">Vehicles</option>
        <option value="Films">Films</option>
        <option value="PhotoAndVideo">Photo & Video</option>
        <option value="GardenAndCrafts">Garden & Crafts</option>
        <option value="Housekeeping">Housekeeping</option>
        <option value="RealEstate">Real estate</option>
        <option value="ClothingAndAccessories">Clothing & Accessories</option>
        <option value="Music">Music</option>
        <option value="Collect">Collect</option>
        <option value="ToysAndCrafts">Toys & Crafts</option>
        <option value="SportsAndOutdoors">Sports & Outdoors</option>
        <option value="JobOffers">Job offers</option>
        <option value="TVAndAudio">TV & Audio</option>
        <option value="PhoneAndNavigation">Phone & Navigation</option>
        <option value="TicketsAndVouchers">Tickets & Vouchers</option>
        <option value="Animals">Animals</option>
        <option value="Miscellaneous">Miscellaneous</option>
      </select>
    </mat-form-field>
  </mat-card>
  <mat-card>

    <mat-form-field>
      <mat-label>Describe your Product</mat-label>
      <textarea matInput
                [(ngModel)]="productDescription"
                cdkTextareaAutosize
                #autosize="cdkTextareaAutosize"
                cdkAutosizeMinRows="1"
                cdkAutosizeMaxRows="20"></textarea>
    </mat-form-field>
  </mat-card>

  <mat-card>

    <mat-form-field>
      <mat-label>Price</mat-label>
      <input matInput placeholder="" [(ngModel)]="productPrice" name="productPrice">
      <span matPrefix>CHF&nbsp;</span>
      <span matSuffix>.00</span>
      <div *ngIf="empty(productPrice)" class="invalid-feedback">Please add a Price</div>
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Location" [(ngModel)]="productLocation" name="productLocation">
      <div *ngIf="empty(productLocation)" class="invalid-feedback">e.g. 3012</div>
    </mat-form-field>

    <mat-checkbox class="checkboxMargin" [(ngModel)]="productDelivery">Product delivery possible?</mat-checkbox>

  </mat-card>

  <mat-card>
    <div *ngIf="add">
    <button mat-flat-button class="button_standard" (click)="addProduct()" [disabled]="!allFieldsAreFilled()">Add Product</button>
    </div>
    <div *ngIf="!add">
    <button mat-flat-button class="button_standard" (click)="editProduct()" [disabled]="!allFieldsAreFilled()">Save Product</button>
    </div>
  </mat-card>
</div>
