<div>
  <button mat-Button class="backIcon" (click)="goBack()" matSuffix mat-icon-button><mat-icon>arrow_back</mat-icon></button>

  <h2>My Product</h2>

  <mat-card>
    <mat-form-field>

      <input matInput placeholder="Product Name" [(ngModel)]="productName" name="productName">
      <div *ngIf="empty(productName)" class="invalid-feedback">Product Name</div>

    </mat-form-field>

    <br>

    <mat-form-field>

      <input matInput placeholder="Product Image" [(ngModel)]="productImage" name="productImage">
      <div *ngIf="empty(productImage)" class="invalid-feedback">Please add a Photo</div>
    </mat-form-field>
  </mat-card>

  <mat-card>
    <mat-checkbox [(ngModel)]="isService">Is your Product a Service?</mat-checkbox>

    <mat-checkbox class="checkboxMargin" [(ngModel)]="isRentable">Is your Product rentable?</mat-checkbox>
    <div>
      <br>
    </div>
    <mat-form-field appearance="fill">
      <mat-label>Select Product Category</mat-label>
      <select matNativeControl [(ngModel)]="productCategory" value="productCategory">
        <option [value]="">None</option>
        <option *ngFor="let category of categories" [value]="category.value">{{category.viewValue}}<option>
      </select>
    </mat-form-field>
  </mat-card>
  <mat-card>

    <mat-form-field>
      <mat-label>Describe your Product</mat-label>
      <textarea matInput
                [(ngModel)]="productDescription"
                cdkTextareaAutosize
                #autosize="cdkTextareaAutosize"
                cdkAutosizeMinRows="1"
                cdkAutosizeMaxRows="20"></textarea>
    </mat-form-field>
  </mat-card>

  <mat-card>

    <mat-form-field>
      <mat-label>Price</mat-label>
      <input matInput placeholder="" [(ngModel)]="productPrice" name="productPrice">
      <span matPrefix>CHF&nbsp;</span>
      <span matSuffix>.00</span>
      <div *ngIf="empty(productPrice)" class="invalid-feedback">Please add a Price</div>
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Location" [(ngModel)]="productLocation" name="productLocation">
      <div *ngIf="empty(productLocation)" class="invalid-feedback">e.g. 3012</div>
    </mat-form-field>

    <mat-checkbox class="checkboxMargin" [(ngModel)]="productDelivery">Product delivery possible?</mat-checkbox>

  </mat-card>

  <mat-card>
    <div *ngIf="add">
    <button mat-flat-button class="button_standard" (click)="addProduct()" [disabled]="!allFieldsAreFilled()">Add Product</button>
    </div>
    <div *ngIf="!add">
    <button mat-flat-button class="button_standard" (click)="editProduct()" [disabled]="!allFieldsAreFilled()">Save Product</button>
    </div>
  </mat-card>
</div>
