<button mat-Button class="backIcon" (click)="goBack()" matSuffix mat-icon-button><mat-icon>arrow_back</mat-icon></button>
<div fxLayout="row wrap" fxLayoutGap="32px" fxLayoutAlign="flex-start" >
  <mat-card>
    <p>You are buying:</p>
    <b> {{productName}}</b>
    <br>
    <img class="center-cropped" [src]="picture[0]" />

    <br><br>
    <p>for <b>{{productPrice}}</b> CHF</p>

    <hr>
    <b>Sellerinfo:</b>
    <br><br>
    <button mat-button class="button_fill" [routerLink]="['/user', sellerId]" routerLinkActive="active" ><mat-icon >account_circle</mat-icon>{{sellerName}}</button>
    <br>
    {{sellerAddressPin}}<br>
    {{sellerAddressCity}}<br>
    {{sellerAddressCountry}}<br>

  </mat-card>

  <mat-card>
    <h2>Please enter your shipping address:</h2>
    <mat-tab-group>
      <mat-tab label="Use my Address"> <p> </p>

        <mat-form-field>
          <input matInput placeholder="Country code*" [(ngModel)]="buyerAddressCountry" name="buyerAddressCountry">
        </mat-form-field>

        <mat-form-field>
          <input matInput placeholder="Zip code*" [(ngModel)]="buyerAddressPin" name="buyerAddressPin" >
        </mat-form-field>

        <mat-form-field>
          <input matInput placeholder="Street*" [(ngModel)]="buyerAddressStreet" name="buyerAddressStreet">
        </mat-form-field>

        <mat-form-field>
          <input matInput placeholder="City*" [(ngModel)]="buyerAddressCity" name="buyerAddressCity">
        </mat-form-field>
        <br>
        <button mat-flat-button color="warn"  [routerLink]="['/user']" routerLinkActive="active" [disabled]="checkCash() || !isUserLoggedIn || empty(buyerAddressCountry, buyerAddressPin, buyerAddressStreet, buyerAddressCity)" (click)="buyProduct()">Buy</button>
      </mat-tab>

      <mat-tab label="Use other address">

        <mat-form-field>
          <input matInput placeholder="Country code*" [(ngModel)]="otherAddressCountry" name="otherAddressCountry">
        </mat-form-field>

        <mat-form-field>

          <input matInput placeholder="Zip code" [(ngModel)]="otherAddressPin" name="otherAddressPin" (ngModelChange)="requestCity()">
        </mat-form-field>

        <mat-form-field>
          <input matInput placeholder="Street*" [(ngModel)]="otherAddressStreet" name="otherAddressStreet">
        </mat-form-field>

        <mat-form-field>
          <input matInput placeholder="City*" [(ngModel)]="otherAddressCity" name="otherAddressCity">
        </mat-form-field>

        <button  class="orange"  [routerLink]="['/user']" routerLinkActive="active" [disabled]="checkCash() || !isUserLoggedIn || empty(otherAddressCountry, otherAddressPin, otherAddressStreet, otherAddressCity)" (click)="otherAddressBuyProduct()">Buy</button>


      </mat-tab>
    </mat-tab-group>
  </mat-card>
  <p>*Required fields</p>
</div>
