<hr>
<h2>Bought products:</h2>



<div  fxLayout="row wrap" fxLayoutGap="2% grid" fxLayoutAlign="space-evenly stretch">
  <div fxFlex="10%" fxFlex.xl="15%" fxFlex.lg="20%" fxFlex.md="25%" fxFlex.sm="33%" fxFlex.xs="50%" *ngFor="let transaction of transactionList">

    <mat-card class="productItem_Card">

      <div *ngIf="transaction" (onCreate)="getSeller(transaction.userId)">

        <button mat-button class="button_fill" (click)="getSeller(transaction.buyerId)" ><mat-icon >account_circle</mat-icon>{{transaction.buyerId}}</button>

        <p>lalaalal2</p>
      </div>

      <p>
        transactionId: {{transaction.transactionId}}<br>

        <br>
        <button mat-flat-button class="button_fill"  [routerLink]="['/productDetail', transaction.productId]" routerLinkActive="active" ><b>productId: {{transaction.productId}}</b></button>
        <br>


      </p>
      <div *ngIf="transaction.transactionStatus==1">
        <b>Awaiting confirmation of seller</b>
        <br>

      </div>

      <div *ngIf="transaction.transactionStatus==2">
        <b>Status: Sold</b>

      </div>

      <div *ngIf="transaction.transactionStatus==3">
        <b>Status: Declined</b>

      </div>
      <div>
        Buyer: <br> lalalalala {{userName}} lalalala
        <button mat-button class="button_fill" [routerLink]="['/user', transaction.buyerId]" routerLinkActive="active" ><mat-icon >account_circle</mat-icon>{{transaction.buyerId}}</button>

        <br>
        {{transaction.deliveryFirstName}} {{transaction.deliveryLastName}}<br>
        {{transaction.deliveryStreet}}<br>
        {{transaction.deliveryPin}} {{transaction.deliveryCity}}<br>
        {{transaction.deliveryCountry}}<br>
      </div>


    </mat-card>
  </div>
</div>
