<hr>
<h2>Bought products:</h2>



<div  fxLayout="row wrap" fxLayoutGap="2% grid" fxLayoutAlign="space-evenly stretch">
  <div fxFlex="10%" fxFlex.xl="15%" fxFlex.lg="20%" fxFlex.md="25%" fxFlex.sm="33%" fxFlex.xs="50%" *ngFor="let transaction of transactionList">

    <mat-card class="productItem_Card">

      <div *ngIf="transaction" >
        <br>
        <h1> Productname: {{productName}}</h1>


      </div>
      <h2>Sold by: </h2>

      <div *ngIf="transaction" >
        <button mat-button class="button_fill" [routerLink]="['/user', transaction.userId]" routerLinkActive="active" ><mat-icon >account_circle</mat-icon>{{transaction.userId}}{{sellerName}}</button>
        <br>
      </div>

      <p>

        <br>
        <button mat-flat-button class="button_fill"  [routerLink]="['/productDetail', transaction.productId]" routerLinkActive="active" ><b>{{productName}}</b></button>
        <br>


      </p>
      <div *ngIf="transaction.transactionStatus==1">
        <b>Awaiting confirmation of seller</b>
        <br>

      </div>

      <div *ngIf="transaction.transactionStatus==2">
        <b>Status: Sold</b>

        <br>
        <b>Bought by:</b>
        <br>
        {{transaction.deliveryFirstName}} {{transaction.deliveryLastName}}<br>
        {{transaction.deliveryStreet}}<br>
        {{transaction.deliveryPin}} {{transaction.deliveryCity}}<br>
        {{transaction.deliveryCountry}}<br>
      </div>

      <div *ngIf="transaction.transactionStatus==3">
        <b>Status: Declined</b>

      </div>



    </mat-card>
  </div>
</div>
