
<div  class ="fontreal" fxLayout="row wrap" fxLayoutGap="2% grid" fxLayoutAlign="space-evenly stretch">
  <div *ngFor="let transaction of transactionList">

    <mat-card class="productItem_Card">



      <div *ngIf="transaction" >
        <br>

        <mat-card-header class="clickable"  [routerLink]="['/productDetail', transaction.productId]" routerLinkActive="active" ><b>{{transaction.product.productName}}</b></mat-card-header>


      </div>
      <div *ngIf="transaction.transactionStatus==1">
        <br>
        <mat-card-content>Awaiting confirmation of seller</mat-card-content>
        <br>

      </div>


      <div class="fontreal" *ngIf="transaction.transactionStatus==2">
        <br>
        <b>Status: Sold</b>

        <br>
        <b class="fontreal">Bought by:</b>
        <br>
        {{transaction.buyer.userName}}<br>
        {{transaction.deliveryFirstName}} {{transaction.deliveryLastName}}<br>
        {{transaction.deliveryStreet}}<br>
        {{transaction.deliveryPin}} {{transaction.deliveryCity}}<br>
        {{transaction.deliveryCountry}}<br>
      </div>

      <div *ngIf="transaction.transactionStatus==3">
        <br>
        <b>Status: Declined</b>

      </div>


      <br>
      <h2 class="fontreal">Sold by: </h2>


      <div *ngIf="transaction" >
        <button mat-button class="button_fill" [routerLink]="['/user', transaction.userId]" routerLinkActive="active" ><mat-icon >account_circle</mat-icon>{{transaction.seller.userName}}{{sellerName}}</button>

        <br>
      </div>

      <p>


      </p>





    </mat-card>
  </div>
</div>
