<mat-card class="otherProfile">
  <div class="trophy_name"><img *ngIf="numberOne"class="trophy" src="assets/cd/trophy2.gif"><h2 class= "otherProfile">{{userName}}'s Profile  </h2> <img *ngIf="numberOne" class="trophy" src="assets/cd/trophy2.gif"></div>


  <button mat-button class="clickable" [routerLink]="['/', addressPin]" routerLinkActive="active" ><mat-icon >place</mat-icon>{{addressPin}}</button>
  <br>
  <button mat-button class="clickable" [routerLink]="['/', addressCity]" routerLinkActive="active"><mat-icon >place</mat-icon>{{addressCity}}</button>
  <br>
  <button mat-button class="clickable" [routerLink]="['/game']" routerLinkActive="active">Score: {{userScore}}</button>
</mat-card>

<br>
<h2 class = "otherProfile">{{userName}} is currently offering:</h2>
<div class="productList_dashboard" fxLayout="row wrap" fxLayoutGap="2% grid" fxLayoutAlign="space-evenly stretch">
 
    <div  *ngFor="let productItem of productList">
      <app-product-item 
  [productItem]="productItem" >
  </app-product-item>
  
    </div>
  </div>
