.container {
  display: flex;
}

mat-card {
}

.imgSmall {
    height:220px;
    width:auto;/*maintain aspect ratio*/
    max-width:220px;
    margin: 0 auto 1em auto; /*Center the image*/
}

.productItem_Card{
  margin: 5px;
}



.button_standard {

 }

.text{
  margin: 16px
}
