mat-card-footer {
  background-color: #D3D9EF;
  text-align: center;
}
.categoryTitle{
  margin: 15px;
}



.img {
  object-fit: cover; /* Do not scale the image */
  height: 200px;
  width: auto;
  opacity: 0.7;
}
