<!--<mat-card>
  <mat-list>
    <mat-list-item>-->
      <br>
      <div><h1>Product List</h1>
        <h4>Buy Fresh Fruit</h4>
      <img src="/assets/fresh_fruits.png" alt="Fresh Fruits To Buy">
      <div *ngIf="statusLoggedIn">
        <button mat-flat-button color="primary" (click)="buyProduct()">BUY</button>
      </div>
      <br>
      </div>
      <br>
      <div>
   <!-- </mat-list-item>
    <mat-list-item> -->
        <h4>Service for Shoveling Snow</h4>
        <img src="/assets/shoveling_snow.png" alt="Service for Shoveling Snow">
        <div *ngIf="statusLoggedIn">
          <button mat-flat-button color="primary" (click)="buyProduct()">BUY</button>
        </div>
      </div>
    <!--</mat-list-item>
  </mat-list>
</mat-card>-->
