<mat-toolbar role="heading">
  <mat-toolbar-row>
    <!-- Logo -->
    <!--<div>
    <a routerLink="/home">
        <img src="assets/cd/logo_small.png" class="logo" alt="Stor">
        <span class="example-spacer"></span>
      </--a>
    </div>-->
    <div class="nav">
      <a routerLink="/home">
        <img src="assets/cd/logo_font_only.png"  class="logo" alt="Stor" />
      </a>
    </div>
    <span class="spacer"></span>
    <div *ngIf="!isUserLoggedIn">
      <button mat-button class="storMainColor" routerLink="/registration" routerLinkActive="active">Registration</button>
      <button mat-button class="storMainColor" routerLink="/login" routerLinkActive="active"><mat-icon >account_circle</mat-icon>Login</button>
    </div>
    <div *ngIf="isUserLoggedIn">
      <button class="storMainColor" mat-button color="storMainColor" [matMenuTriggerFor]="menu"><mat-icon >account_circle</mat-icon>{{isUserName}}</button>
    </div>
    <mat-menu #menu>
      <button mat-menu-item routerLink="/user" routerLinkActive="active">My Profile</button>
      <button mat-menu-item routerLink="/login" routerLinkActive="active">Logout</button>
    </mat-menu>
    <div *ngIf="isUserAdmin">
      <button mat-button class="storMainColor" routerLink="/admin" routerLinkActive="active">Admin</button>
    </div>

  </mat-toolbar-row>
</mat-toolbar>
<router-outlet></router-outlet>
