.logo {
  max-width: 100%;
  max-height: 100%;
  vertical-align: middle;
  display:block;
}
.spacer {
  flex: 1 ;
}
.nav {
  max-height:64px;
  height: 64px;
}
.mat-storMain {
  color: #b82d70;
}

.mat-toolbar-row{
  background-color: #bd3d9e;
}

