<div *ngIf="true">
  <mat-divider></mat-divider>
  <mat-card>
    <h2>Add a new Product</h2>
    <mat-form-field>
      <input matInput placeholder="Product Name" [(ngModel)]="productName" name="productName">
      <div *ngIf="empty(productName)" class="invalid-feedback">Product Name</div>
    </mat-form-field>


    <mat-form-field>
      <input matInput placeholder="Describe your Product" [(ngModel)]="productDescription" name="productDescription">
      <div *ngIf="empty(productDescription)" class="invalid-feedback">Describe your Product</div>
    </mat-form-field>

    <br>
    <mat-form-field>
      <input matInput placeholder="Product Image" [(ngModel)]="productImage" name="productImage">
      <div *ngIf="empty(productImage)" class="invalid-feedback">Please add a Photo</div>
    </mat-form-field>



  </mat-card>
  <p>
    productPrice: this.productPrice,
    productCategory: this.productCategory,
    productLocation: this.productLocation,
    productDelivery: this.productDelivery,
    uploadDate: this.uploadDate,
    sellDate: this.sellDate,
    isApproved: this.isApproved,
    isService: this.isService,
    isRentable: this.isRentable,
    isAvailable: this.isAvailable,
    userId: this.userId,
  </p>
