
  <mat-card class="pw">
  <mat-card-title>Reset password</mat-card-title>
    <br>
  <mat-card-content>
    <mat-form-field >
      <input matInput placeholder="Password" [(ngModel)]="password" name="password" type="password">
      <ng-template [ngIf]="!empty(password)">
        <div *ngIf="!passwordContainsMixedLetters(password)"> Use capital and small letters
        </div>
        <div *ngIf="!passwordHasNumber(password)"> Use at least one number
        </div>
        <div *ngIf="!passwordContainsSpecialChar(password)"> Use at least one special character
        </div>
        <div *ngIf="!passwordLength(password)"> Use at least 7 characters
        </div>
      </ng-template>
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Confirm Password*" [(ngModel)]="confPassword" name="confPassword" type="password">
      <ng-template [ngIf]="!empty(confPassword)">
        <div *ngIf="!confirmPassword(confPassword)"> Passwords do not match
        </div>
      </ng-template>
    </mat-form-field>
  </mat-card-content>
  <mat-card-actions align="end">
    <button mat-button (click)="resetPassword(password)" [routerLink]="['/login']" [disabled]="!validatePassword()">Submit</button>
  </mat-card-actions>
</mat-card>


