<mat-tab-group>

  <mat-tab label ="my Profile" >
<mat-card class= "myProfile">
  <mat-card-header>

    <mat-card-title class = "myProfile">{{userName}}'s Profile: </mat-card-title>
  </mat-card-header>
  <mat-card-content class="content">
   <div> Address: <br>
    {{userFirstName}} {{userLastName}}<br>
    {{userAddressStreet}}<br>
    {{userAddressPin}} {{userAddressCity}} <br>
    {{userAddressCountry}}     <br>
     <br> <b>
     Your current Score:
     {{userScore}}
     </b>
    <br>
    <br> <b>
    Your current balance:
    {{userWallet}} CHF

  </b>
  <br>
    <br>


</div>
  </mat-card-content>

</mat-card>

</mat-tab>

<mat-tab label = "Your current Products">
  <div class="productList_dashboard" fxLayout="row wrap" fxLayoutGap="2% grid" fxLayoutAlign="space-evenly stretch">

    <div  *ngFor="let productItem of productList">
      <app-product-item
  [productItem]="productItem" >
  </app-product-item>
  <mat-card class="actions">
    <button mat-flat-button class="actionsub" (click)="deleteProduct(productItem)" >Delete</button>
    <button mat-flat-button  class="actionsub"  [routerLink]="['/productForm/', productItem.productId]" routerLinkActive="active">Edit</button>

  </mat-card>

    </div>
  </div>

</mat-tab>

<mat-tab label="sold Products">
<app-soldproducts></app-soldproducts>
</mat-tab>
<mat-tab label="bought Products">
<app-boughtproducts></app-boughtproducts>
</mat-tab>
</mat-tab-group>


