<mat-tab-group>

  <mat-tab label ="my Profile" >
<mat-card class= "myProfile">
  <mat-card-header>
    <mat-card-title>My Profile</mat-card-title>
  
    <mat-card-subtitle class = "myProfile">{{userName}}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    Adress: <br>
    {{userFirstName}} {{userLastName}}<br>
    {{userAddressStreet}}<br>
    {{userAddressPin}} {{userAddressCity}} <br>
    {{userAddressCountry}} <br>
    <br> <b>
    Your current balance:
    {{userWallet}} CHF
  </b>

  </mat-card-content>
  <mat-card-actions>
    <button mat-flat-button class="button_standard" [routerLink]="['/productForm/', 0]" routerLinkActive="active">Add Product </button>
    <button mat-flat-button class="button_standard" [routerLink]="['/registration/', userId]" routerLinkActive="active">Edit Profile</button>
  </mat-card-actions>
</mat-card>

</mat-tab>

<mat-tab label = "Your current Products">
<h2>Your products</h2>
  <div  fxLayout="row wrap" fxLayoutGap="2% grid" fxLayoutAlign="space-evenly stretch">
    <mat-card class="productItem_Card">
    <mat-card-actions><button mat-flat-button class="button_standard" [routerLink]="['/productForm/', 0]" routerLinkActive="active">Add Product </button>
    </mat-card-actions>
    </mat-card>
    <div fxFlex="10%" fxFlex.xl="15%" fxFlex.lg="20%" fxFlex.md="25%" fxFlex.sm="33%" fxFlex.xs="50%" *ngFor="let productItem of productList">
      <mat-card class="productItem_Card">
        <mat-card-header>
          <mat-card-title>{{productItem.productName}}</mat-card-title>
          <mat-card-subtitle>posted on {{productItem.uploadDate | date: "dd.MM.yy, HH:mm"}}</mat-card-subtitle>
        </mat-card-header>

        <mat-card-content>
          <img class="img" [src]="productItem.picture[0]" />
        </mat-card-content>

        <mat-card-content>
          <div *ngIf="productItem.isApproved">
            <p class="text">Approved</p>
          </div>
          <div *ngIf="!productItem.isApproved">
            <b class="text">Awaiting approval</b>
          </div>

          <div *ngIf="productItem.isAvailable">
            <p class="text">Available</p>
          </div>

          <div *ngIf="!productItem.isAvailable">
            <p class="text"> <b>A buy request is in your inbox</b><br></p>

          </div>
        </mat-card-content>
        <mat-card-actions>
          <button mat-flat-button class="button_standard" [routerLink]="['/productForm/', productItem.productId]" routerLinkActive="active">Edit</button>
          <button mat-flat-button class="button_standard" (click)="deleteProduct(productItem)" [disabled]="!productItem.isAvailable">Delete</button>
        </mat-card-actions>
        <hr>

        <br>
        <button mat-button class="button_fill" [routerLink]="['/', productItem.productCategory]" routerLinkActive="active" ><mat-icon >chevron_right</mat-icon>{{productItem.productCategory}}</button>
        <button mat-button class="button_fill" [routerLink]="['/', productItem.productLocation]" routerLinkActive="active"><mat-icon >place</mat-icon>{{productItem.productLocation}}</button>

      </mat-card>
    </div>
  </div>
</mat-tab>

<mat-tab label="sold Products">
<app-soldproducts></app-soldproducts>
</mat-tab>
<mat-tab label="bought Products">
<app-boughtproducts></app-boughtproducts>
</mat-tab>
</mat-tab-group>