<mat-tab-group>

  <mat-tab label ="my Profile" >
<mat-card class= "myProfile">
  <mat-card-header>
  
    <mat-card-title class = "myProfile">{{userName}}'s Profile: </mat-card-title>
  </mat-card-header>
  <mat-card-content class="content">
   <div> Address: <br>
    {{userFirstName}} {{userLastName}}<br>
    {{userAddressStreet}}<br>
    {{userAddressPin}} {{userAddressCity}} <br>
    {{userAddressCountry}}     <br>
    <br>
    <br> <b>
    Your current balance:
    {{userWallet}} CHF
  </b>
  <br>
    <br>
</div>
<button mat-flat-button class="button_standard" [routerLink]="['/registration/', userId]" routerLinkActive="active">Edit Profile</button>
<div>

</div>
  </mat-card-content>

  <mat-card-actions>
    <!--<button mat-flat-button class="button_standard" [routerLink]="['/productForm/', 0]" routerLinkActive="active">Add Product </button>-->
  </mat-card-actions>
</mat-card>

</mat-tab>

<mat-tab label = "Your current Products">
  
    <div  fxLayout="line wrap"  >
      <mat-card class="productItem_Card">
      <div class="add_button"><button mat-flat-button class="button_standard" [routerLink]="['/productForm/', 0]" routerLinkActive="active">Add Product </button>
      </div>
      </mat-card> 
<div class="productList_dashboard" fxLayout="row wrap" fxLayoutGap="2% grid" fxLayoutAlign="space-evenly stretch">
  <div fxFlex="10%" fxFlex.xl="10%" fxFlex.lg="15%" fxFlex.md="20%" fxFlex.sm="33%" fxFlex.xs="50%" *ngFor="let productItem of productList">
<app-product-item  
[productItem]="productItem" 
></app-product-item>
  </div>
    </div>
    </div>

  
</mat-tab>

<mat-tab label="sold Products">
<app-soldproducts></app-soldproducts>
</mat-tab>
<mat-tab label="bought Products">
<app-boughtproducts></app-boughtproducts>
</mat-tab>
</mat-tab-group>


