.myProfile{
  background-color: #082A5D;
  font-family:'Press Start 2P', cursive !important;
  color: white;
  
}



  
.productItem_Card{
  margin: 50px;
  margin-right: -160px;
  box-shadow: 2px 2px 30px  #F72871;
  background-color: #082A5D;
 /* border-color: teal;
  border-width: 2px;*/
  border-radius: 30px;
  color: whitesmoke;
  font-family:'Press Start 2P', cursive !important;
  font-size: 7px;
  height: 500px;
  width: 250px;
}
.mat-card-content{
  font-size: 9px;
}
.mat-card-title{
  font-size: 15px;
}

.add_button{
  height:20px; 
  width:100px; 
  margin: -20px -50px; 
  position:relative;
  top:50%; 
  left:50%;}

.img {
  object-fit: cover; /* Do not scale the image */
  height: 200px;
  width: auto;
  opacity: 0.7;
}

.button_standard{
  font-size: 8px!important;
  color: white!important;
  align-self: center;
}

