<mat-card>
  <div *ngIf="!isUserLoggedIn">
    <mat-form-field>
      <input matInput placeholder="Username/ Email" [(ngModel)]="userLogin" name="userLogin">
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Password" [type]="hide ? 'text' : 'password'" [(ngModel)]="password" name="password" type="password">
      <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
    </mat-form-field>

    <button mat-flat-button class="button_standard" (click)="login()">Login</button>
    <br>
  </div>

  <div *ngIf="isUserLoggedIn" align="end">
    You are currently logged in!
    <button mat-flat-button class="button_standard" (click)="logout()">Logout</button>
  </div>
</mat-card>

  <div *ngIf="!isUserLoggedIn" align="end">
      <button mat-flat-button class="button_standard" [routerLink]="['/registration/0']">Registration</button>
      <button mat-flat-button class="button_standard" (click)="openDialog()">Password forgotten</button>
  </div>




