<div class="footer">
 <mat-toolbar>
    <mat-toolbar-row fxLayoutAlign="space-around">

        <button class="footer_button" mat-button>
          <mat-icon >article</mat-icon>
          Conditions of Use
        </button>

        <button class="footer_button" mat-button>
          <mat-icon >article</mat-icon>
          Imprint
        </button>

        <button class="footer_button" mat-button>
          <mat-icon >contact_page</mat-icon>
          Contact
        </button>


        <button class="footer_button" mat-button>
          <mat-icon >contact_support</mat-icon>
          Help
        </button>

    </mat-toolbar-row>
  </mat-toolbar>
</div>
