<mat-toolbar>
  <mat-toolbar-row>
    <div>
      <button mat-button >
        <mat-icon >article</mat-icon>
        Conditions of Use
      </button>
    </div>

    <div>
      <button mat-button>
        <mat-icon >article</mat-icon>
        Imprint
      </button>
    </div>

    <div>
      <button mat-button>
        <mat-icon >contact_page</mat-icon>
        Contact
      </button>
    </div>


    <div>
      <button mat-button>
        <mat-icon >contact_support</mat-icon>
        Help
      </button>
    </div>
  </mat-toolbar-row>
</mat-toolbar>

