<div class="searchBar">
  <input type="text" [(ngModel)]="name" placeholder="Search" name="name">
  <button class="clearIcon" mat-button *ngIf="name !== ''" matSuffix mat-icon-button (click)="name = ''; navigateTo()"><mat-icon>clear</mat-icon></button>
  <button mat-button class="searchButton" (click)="navigateTo()"><mat-icon>search</mat-icon>Search</button>
</div>

<div class="container">
  <div class="bigFilter">
    <div class="filterOptions">
      <mat-form-field>
        <mat-label>Select Product Category</mat-label>
        <mat-select [(ngModel)]="category" (selectionChange)="navigateTo()" value="category">
          <mat-option [value]="">None</mat-option>
          <mat-option *ngFor="let category of categories" [value]="category.value">{{category.viewValue}}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <input matInput class="priceInput" [(ngModel)]="priceMin" (keyup)="checkPrice(priceMin)" placeholder="min Price">
        <button class="clearIcon" mat-button *ngIf="priceMin !== ''" matSuffix mat-icon-button (click)="priceMin = null; navigateTo()"><mat-icon>close</mat-icon></button>
      </mat-form-field>
      <mat-form-field>
        <input matInput class="priceInput" [(ngModel)]="priceMax" (keyup)="checkPrice(priceMax)" placeholder="max Price">
        <button class="clearIcon" mat-button *ngIf="priceMax !== ''" matSuffix mat-icon-button (click)="priceMax = null; navigateTo()"><mat-icon>close</mat-icon></button>
      </mat-form-field>
      <mat-form-field>
        <input matInput [(ngModel)]="zipCode" (ngModelChange)="checkZip(zipCode)" placeholder="Zip code" name="location">
        <button class="clearIcon" mat-button *ngIf="zipCode !== ''" matSuffix mat-icon-button (click)="zipCode= ''; navigateTo()"><mat-icon>close</mat-icon></button>
      </mat-form-field>
      <div>
        <span class="radius">Radius:</span>
        <mat-slider class="slider" thumbLabel [displayWith]="formatLabel" tickInterval="1000" min="0" max="100" [(ngModel)]="radius" (change)="checkZip(zipCode)">{{radius}} km away from you</mat-slider>
      </div>

      <div class="filterButtonContainer">
        <button class="filterButton" mat-button (click)="clearFilter()">clear filter<!--<mat-icon>clear</mat-icon>--></button>
        <button class="filterButton" mat-button (click)="clickFilter = !clickFilter">more filter<!--<mat-icon>add</mat-icon>--></button>
      </div>
    </div>
    <div class="moreFilter" *ngIf="clickFilter">
      <mat-radio-group [(ngModel)]="delivery" name="delivery">
        <a>Delivery:</a>
        <mat-radio-button *ngFor="let data of selection" [checked]="data.value" (click)="showDelivery(data.value)">{{data.name}}</mat-radio-button>
      </mat-radio-group>
      <mat-radio-group [(ngModel)]="isRentable" color="#46FFFD" name="isRentable">
        <a>Rentable:</a>
        <mat-radio-button *ngFor="let data of selection" [checked]="data.value" (click)="showRenatble(data.value)">{{data.name}}</mat-radio-button>
      </mat-radio-group>
      <mat-radio-group [(ngModel)]="isService" color="#46FFFD" name="isService">
        <a>Product Type:</a>
        <mat-radio-button *ngFor="let data of selection2" [checked]="data.value" (click)="showService(data.value)">{{data.name}}</mat-radio-button>
      </mat-radio-group>
      <!-- alternative option -->
      <!--<mat-checkbox class="filterCheck" [(ngModel)]="delivery" (change)="navigateTo()" [checked]="delivery" color="#46FFFD">Delivery possible</mat-checkbox>-->
    </div>
  </div>


  <div class="smFilter">
    <mat-expansion-panel>
      <mat-expansion-panel-header>Filter</mat-expansion-panel-header>
      <mat-divider></mat-divider>
      <mat-form-field>
        <mat-label>Select Product Category</mat-label>
        <mat-select [(ngModel)]="category" (selectionChange)="navigateTo()" value="category">
          <mat-option class="selectPanel" [value]="">None</mat-option>
          <mat-option class="selectPanel" *ngFor="let category of categories" [value]="category.value">{{category.viewValue}}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <input matInput [(ngModel)]="priceMin" (keyup)="checkPrice(priceMin)" placeholder="min Price">
      </mat-form-field>
      <mat-form-field>
        <input matInput [(ngModel)]="priceMax" (keyup)="checkPrice(priceMax)" placeholder="max Price">
      </mat-form-field>
      <mat-form-field>
        <input matInput [(ngModel)]="zipCode" (ngModelChange)="checkZip(zipCode)" placeholder="Location" name="location">
        <button class="clearIcon" mat-button *ngIf="zipCode !== ''" matSuffix mat-icon-button (click)="clear()">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>
      <div>
        <span class="radius">Radius:</span>
        <mat-slider class="slider" thumbLabel [displayWith]="formatLabel" tickInterval="1000" min="0" max="100" [(ngModel)]="radius" (ngModelChange)="radius">{{radius}} km away from you</mat-slider>
      </div>
      <mat-radio-group [(ngModel)]="delivery" class="smRadioGroup" color="#46FFFD" name="delivery">
        <a>Delivery:</a>
        <mat-radio-button *ngFor="let data of selection" [checked]="data.value" (click)="showDelivery(data.value)">{{data.name}}</mat-radio-button>
      </mat-radio-group>
      <mat-radio-group [(ngModel)]="isRentable" class="smRadioGroup" color="#46FFFD" name="isRentable">
        <a>Rentable:</a>
        <mat-radio-button *ngFor="let data of selection" [checked]="data.value" (click)="showRenatble(data.value)">{{data.name}}</mat-radio-button>
      </mat-radio-group>
      <mat-radio-group [(ngModel)]="isService" class="smRadioGroup" color="#46FFFD" name="isService">
        <a>Product Type:</a>
        <mat-radio-button *ngFor="let data of selection2" [checked]="data.value" (click)="showService(data.value)">{{data.name}}</mat-radio-button>
      </mat-radio-group>

      <!-- alternative option -->
      <!--<mat-list>
        <mat-list-item>
          <mat-checkbox [(ngModel)]="delivery" (change)="navigateTo()" [checked]="delivery" color="#46FFFD">Delivery Possible</mat-checkbox>
        </mat-list-item>
      </mat-list>-->
      <div align="right">
        <button class="filterButton" mat-button (click)="clearFilter()">clear filter<!--<mat-icon>clear</mat-icon>--></button>
      </div>
    </mat-expansion-panel>
  </div>
</div>

<div class="filterChips">
  <mat-chip-list>
    <mat-chip *ngIf="category">{{category}}
      <button class="clearIcon" matSuffix mat-icon-button (click)="category = null; navigateTo()"><mat-icon>close</mat-icon></button>
    </mat-chip>
    <mat-chip *ngIf="zipCode && zipCode.length === 4 && checkNumber(zipCode)">{{zipCode}}
      <button class="clearIcon" matSuffix mat-icon-button (click)="zipCode = ''; navigateTo()"><mat-icon>close</mat-icon></button>
    </mat-chip>
    <mat-chip *ngIf="radius && zipCode.length === 4">{{radius}}
      <button class="clearIcon" matSuffix mat-icon-button (click)="radius = 0; navigateTo()"><mat-icon>close</mat-icon></button>
    </mat-chip>
    <mat-chip *ngIf="priceMin && checkNumber(priceMin)">min Price: {{priceMin}} CHF
      <button class="clearIcon" matSuffix mat-icon-button (click)="priceMin = null; navigateTo()"><mat-icon>close</mat-icon></button>
    </mat-chip>
    <mat-chip *ngIf="priceMax && checkNumber(priceMax)">max Price: {{priceMax}} CHF
      <button class="clearIcon" matSuffix mat-icon-button (click)="priceMax = null; navigateTo()"><mat-icon>close</mat-icon></button>
    </mat-chip>

    <!-- doesn't work yet
    <mat-chip *ngIf="delivery !== ''">Delivery: {{this.delivery}}
      <button class="clearIcon" matSuffix mat-icon-button (click)="delivery = ''; navigateTo()"><mat-icon>close</mat-icon></button>
    </mat-chip>
    <mat-chip *ngIf="isRentable !== ''">Rentable: {{this.isRentable}}
      <button class="clearIcon" matSuffix mat-icon-button (click)="isRentable = ''; navigateTo()"><mat-icon>close</mat-icon></button>
    </mat-chip>
    <mat-chip *ngIf="isService !== ''">Service: {{this.isService}}
      <button class="clearIcon" matSuffix mat-icon-button (click)="isService = ''; navigateTo()"><mat-icon>close</mat-icon></button>
    </mat-chip>-->
  </mat-chip-list>
</div>
