<div class="dialog">
<h2 class=" dialog" mat-dialog-title>Reset password</h2>
<div mat-dialog-content>
  <p>Please enter a valid email</p>
  <mat-form-field>
    <input matInput placeholder="Email" [(ngModel)]="email" name="email">
  </mat-form-field>
</div>
<div fxLayoutAlign="end">
  <button mat-button matSuffix mat-icon-button (click)="closeDialog(email)">
    <mat-icon>close</mat-icon>
  </button>
  <button mat-button (click)="closeDialog(email)" [disabled]="empty(email) || !validateEmail(email)" [routerLink]="['/login']">Submit</button>
</div>
</div>